:root {
  /* Colors */
  --primary-color: #074057;
  --secondary-color: #1A2A4A;
  --accent-color1: #1a2a4a;
  --accent-color2: #F4A460;
  --heading-font: 'Times New Roman', sans-serif;
  --body-font: Arial, sans-serif, Helvetica;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
    color: var(--accent-color1);
}

header , footer {
    background-color: var(--primary-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent-color2);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 8px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent-color1);
    color: #fff;
}

.hero article {
    position: absolute;
    top:  260px;
    width: 96%;
    padding: 5px;
    opacity: 0.8;
    background-color: var(--accent-color1);
    color: #fff;
}


.hero article img {
    float: right;
    width: 125px;
    border-radius: 1rem;
}

h2 {
    text-align: center;
    background-color: var(--secondary-color);
    color: #fff;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 1rem;
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--secondary-color);
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 20px;
    width: auto;
}
.references ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.references a {
    text-decoration: none;
    background-color: none;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
}

.references a:hover {
    background-color: var(--accent-color2);
}

 .adventure-grid {
    display: flex;
    justify-content: space-evenly;
}

  .adventure-grid figure img {
       margin-top: 10px;
        height: 100px;
        width: 100px;
    }
 .adventure-grid figcaption{
    color: var(--primary-color);
    text-align: center;
 }

 footer {
   display: flex;
    }

 .social-media {
        justify-content: space-between;
        height: 5px;
        width: 5px;
    }
footer p {
    justify-content: flex-end;
}
