:root {
--primary-color:darkblue;
--padding-header-footer:2px;
--height:auto;
--border:1px solid rgb(0 0 0 / 0.2);
}

* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


nav a {

  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff; 

}

h1 {
    color: var(--primary-color);
    border-bottom: 2px slateblue solid;
    padding-bottom: 1px;
}

main img {
    float: right;
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 3px;
    box-shadow: 0 0 30px grey;
    margin: 0 0 2rem 2rem;
    
}

p {
    padding: 0;
    margin: 1rem;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside img {
    width: 150px;
    height: var(--height);
}

aside h2 {
  position: absolute;
  top: 70px;
  left: 10px;
  color: slateblue;
}


/*  Class Selector */

.box {
     margin:2rem;
     border: 1px solid rgba(0 0 0 / 10%);
     padding: 1rem;
     background-color: #eee;
     color:#333;
    
}

.indent {
    padding: 2rem;
}

header, .grid,footer {
  max-width: 840px;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
}
    
main {
  grid-column: 2/2;
  margin: 1rem;
}
    
aside {
  width: 15rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

footer p {
   text-align: center;
   border-top: slateblue solid;
}