:root {
--primary-color:darkblue;
--padding-header-footer:2px;
--height:auto;
--border:1px solid rgb(0 0 0 / 0.2);
}
* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding:var(--padding-header-footer)
}

nav a {
    color: white;
    display: block;
    padding: 4px; 
}

h1 {
    color: var(--primary-color);
}

main img {
    float: right;
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: var(--padding-header-footer);
}
/*  Class Selector */
.box {
     margin: 1rem;
     border: 1px solid rgb(0 0 0 / 10%);
     padding: 1rem;
     background-color: #eee;
     color:#333;
}

aside h2 {
  position: absolute;
  top: 2px;
  left: 2pxs;
}

